{% extends 'base.html' %}

{% block content %}
<div class="m-16">
  <h2 class="text-4xl font-bold mb-12 text-center">Leaderboard</h2>
  {% if top_scores %}
    <div class="overflow-x-auto w-3/4 mx-auto text-center">
      <table class="min-w-full bg-white rounded-lg overflow-hidden shadow-md">
        <thead class="bg-black text-white text-center">
          <tr>
            <th class="py-3 px-6 text-center">Quiz Title</th>
            <th class="py-3 px-6 text-center">User</th>
            <th class="py-3 px-6 text-center">Score</th>
            
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-300">
          {% for score in top_scores %}
            <tr class="hover:bg-gray-100 transition-all">
                <td class="py-4 px-6">{{ score.quiz.title }}</td>
                <td class="py-4 px-6 whitespace-nowrap">{{ score.user.first_name }} {{ score.user.last_name }}</td>
                <td class="py-4 px-6">{{ score.scores }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="mt-8 text-center text-gray-600">
      <p>No leaderboard entries available.</p>
    </div>
  {% endif %}
</div>
{% endblock %}
