{% extends 'base.html' %}  {% block content %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} 
{% endif %}]

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mt-12 mb-24 flex justify-content-center align-items-center">
    <!-- Login Form -->
    <div class="py-2 px-3 rounded-xl bg-white mt-12 mx-20 order-2 lg:order-2">
        <h1 class="font-bold text-3xl text-center pb-3 shadow-md">Login</h1>
        <div class="w-full mt-10">
            <form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %} 
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }} {{ hidden_field }}
                {% endfor %} 
                {% for field in form.visible_fields %}
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                            {{ field.label }}
                        </label>
                        <input class="appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                    </div>
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <div class="flex items-center justify-center w-full">
                    <button class="bg-black hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Image Section -->
    <div class="flex justify-content-center items-center mx-20 order-1 lg:order-1">
        <img src="https://img.freepik.com/free-vector/computer-login-concept-illustration_114360-7892.jpg?w=826&t=st=1706195968~exp=1706196568~hmac=6f80db1614e1d64569187c7743dde487c04aa2fc0e4c34849fbe70bbc16f35ea" alt="Quiz Image" class="object-cover w-full h-full rounded">
    </div>
</div>

{% endblock %}