<footer class="bg-black">
<div class="text-white pt-20 pb-6 gap-4 max-w-6xl mx-auto ">
    
  <div class="text-white grid lg:grid-cols-3 grid-cols-1 mx-auto text-center mb-12">
    <div>
      <h4 class="font-semibold text-lg mb-4">Company</h4>
      <ul class="text-white space-y-4">
        <li>
          <a href="">About Us</a>
        </li>
        <li>
          <a href="">Stats</a>
        </li>
        <li>
          <a href="">Jobs</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
      </ul>
    </div>
   
    <div>
        <h4 class="font-semibold text-lg mb-4">Resources</h4>
        <ul class="text-white space-y-4">
            <li>
                <a href="">Feedback</a>
            </li>
            <li>
                <a href="">FAQ</a>
            </li>
            <li>
                <a href="">Guidelines</a>
            </li>
            <li>
                <a href="">Report a problem</a>
            </li>
        </ul>
    </div>

    <div>
        <h4 class="font-semibold text-lg mb-4">Get in touch!</h4>
        <ul class="text-white space-y-4">
            <li>
            <a href="">Contact Us</a>
            </li>
            <li>
            <a href="">Terms</a>
            </li>
            <li>
            <a href="">Privacy Policy</a>
            </li>
            <li>
            <a href="">Cookies</a>
            </li>
        </ul>
    </div>
  </div>

  <hr />

  <div class="text-white text-center mt-6">
    <div>Copyright © 2023-2024 Quiz Realm, Inc.</div>
  </div>
</div>
</footer>